body {
	background-color: indianred;
	text-align: center;
}

label {
	color: DarkRed
}

.orders {
	border: 9px solid black;
	background-color: lime;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
}

.order {
	border: 9px solid black;
	background-color: violet;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

.product {
	border: 9px solid black;
	background-color: yellow;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}