body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 600px;
	width: 1300px;
	background-image:url('https://st3.depositphotos.com/3645435/12570/v/950/depositphotos_125709324-stock-illustration-sale-banner-concept.jpg');
	text-align: center;
}

.btn {
	display: inline-block;
	padding: -1px 20px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #6bb6ff;
	border: none;
	border-radius: 64px;
	box-shadow: 0 9px #1E90FF;
	margin-left: 2px;
	margin-top: 10px;
}

.btn:hover {
	background-color: #6bb6ff
}

.btn:active {
	background-color: #9932CC;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
