body {
	background-color: AntiqueWhite;
	text-align: center;
}

tr:hover {
	background-color: #999966;
}

a:link, a:visited {
  background-color: #e30753;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: white;
  color: black;
}